@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

nav{ 
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

}

nav ul{
    display: flex;
    list-style: none;
    background: red;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    border-radius: 10px;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}